// ********** COLORS ***********
$primary-color: #AFCEA4;
$secondary-color: #F8F5EE;
$tertiary-color: #C0DEDA;
$quarternary-color: #EF6F6C;
$quinary-color: #465775;

// *********** FONTS ***********
$primary-font: 'palanquin';
$secondary-font: 'Playfair Display SC';